body{
	background-image: url("imagens/fundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: auto;
	overflow-x: hidden;
}

#menu{
	margin-top: 15px;
	background-color: #B22222;
	color: white;
	width: 100%;
	height: 20px;
	padding: 0.5%;
	text-align: center;
}

.lmenu{
	color: white;
	font-family: 'Jura', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	text-decoration: none;

}

.lmenu:hover{
	color: white;
	font-weight: bolder;
	font-family: 'Jura', sans-serif;
	font-size: 16px;
	text-shadow: 2px 2px 5px black;
	text-decoration: none;

}

.imghome{
	width: 50%;
	box-shadow: 4px 4px 8px white;
	border-radius: 20px;

}

h1{
	margin-top: 5%;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: bold;
	text-shadow: 3px 0px 3px black, 0px 3px 3px black, -3px 0px 3px black, 0px -3px 3px black;
}

#maintext{
	margin-top: 5%;
	margin-left: 14%;
	border-radius: 20px;
	border-right: solid 5px #FF0000	;
	border-bottom: solid 5px #FF0000	;
	background-color: black;
	opacity: 0.8;
	width: 70%;
	height: 100%;
	padding: 1%;
	font-family: 'BenchNine', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;

}

#fundo{
	position: absolute;
	margin-top: 5%;
	margin-left: 35%;
	margin-bottom: 5%;
	width: 30%;
	height: 400px;
	border-radius: 20px;
	border-right: solid 5px #FF0000	;
	border-bottom: solid 5px #FF0000	;
	background-image: url("imagens/squad.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

#lista{
	position: absolute;
	left: 42%;
	top: 243%;
	z-index: 2;
	background-color: black;
	border-radius: 30px;
	opacity: 0.8;
	width: 12%;
	padding: 2%;
	font-family: 'BenchNine', sans-serif;
	font-size: 12px;
	color: white;
	font-weight: bolder;
	list-style-position: inside;

}

table{
	margin-top: 3%;
	margin-bottom: 3%;
	table-layout: auto|fixed|initial|inherit;
	border: solid white 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 0px red;
	background-color: white;
	background-size: 70%;
	justify-content: center;

}

th{
	color: white;
	font-family: 'Jura', sans-serif;
	font-size: 12px;
	background-color: #B22222;

}

td{
	color: white;
	font-family: 'BenchNine', sans-serif;
	font-size: 16px;
	background-color: black;
	opacity: 0.8;
	padding: 5px;
}