body{
	background-image: url("imagens/fundo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: auto;
	overflow-x: hidden;
}

.lmenu{
	color: white;
	font-family: 'Jura', sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.lmenu:hover{
	color: white;
	font-weight: bolder;
	font-family: 'Jura', sans-serif;
	font-size: 16px;
	text-shadow: 2px 2px 5px black;
	text-decoration: none;

}

h1, #h1dif{
	margin-top: 5%;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: bold;
	text-shadow: 3px 0px 3px black, 0px 3px 3px black, -3px 0px 3px black, 0px -3px 3px black;
}


#menu{
	margin-top: 15px;
	background-color: #B22222;
	color: white;
	width: 100%;
	height: 20px;
	padding: 0.5%;
	text-align: center;
}

#maintext{
	margin-top: 5%;
	margin-left: 14%;
	border-radius: 20px;
	border-right: solid 5px #FF0000	;
	border-bottom: solid 5px #FF0000	;
	background-color: black;
	opacity: 0.8;
	width: 70%;
	height: 100%;
	padding: 1%;
	font-family: 'BenchNine', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
}

#principal {
	width: 40%;
	margin-left: 30%;
}

#fundo{
	background-color: #f2f2f4;
	border-radius: 20px;
	border-right: solid 5px #FF0000;
	border-bottom: solid 5px #FF0000;	
	float: right;	
	padding: 5px;
}

#lista{
	background-color: black;
	border-radius: 30px;
	opacity: 0.8;
	width: 30%;
	padding: 2%;
	font-family: 'BenchNine', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bolder;
}

#form{
	margin: 5%;
	margin-left: 32%;
	border-radius: 20px;
	border-right: solid 5px #FF0000	;
	border-bottom: solid 5px #FF0000;
	background-color: black;
	opacity: 0.8;
	width: 35%;
	height: 60%
	padding: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'BenchNine', sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
}

input{
	min-width: 30%;
	min-height: 50%;
	text-align: center;
}

input:hover{
	box-shadow: 2px 2px 3px yellow, -2px -2px 3px yellow;
}

textarea:hover{
	box-shadow: 2px 2px 3px yellow, -2px -2px 3px yellow;
}

.cf {
            margin-left: 20%;
            width: 800px;
            height: 220px;

            position: relative;
            background-repeat: no-repeat;
            
            animation: animacao1 4s;
            animation-direction: alternate;
            animation-iteration-count: infinite; 
        }
        
        @keyframes animacao1 {
        	from{
        		border: none;
            	background-image: url("imagens/withus.jpg");
            	background-size: 800px 220px;
        	}
        	to{
        		border: none;
            	background-image: url("imagens/chicagocity.jpg");
            	background-size: 800px 220px;
        	}
            
.imghome{
	width: 50%;
	box-shadow: 4px 4px 8px white;
	border-radius: 20px;

}

.boblove{
	float: right;
}

}

table{
	margin-top: 3%;
	margin-bottom: 3%;
	table-layout: auto|fixed|initial|inherit;
	border: solid white 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 0px red;
	background-color: white;
	background-size: 70%;
	justify-content: center;

}

th{
	color: white;
	font-family: 'Jura', sans-serif;
	font-size: 12px;
	background-color: #B22222;

}

td{
	color: white;
	font-family: 'BenchNine', sans-serif;
	font-size: 16px;
	background-color: black;
	opacity: 0.8;
	padding: 5px;
}

/*Breakpoint*/

@media (max-width: 600px) 
{


	#h1dif{
		display: none;
	}
   .cf
   {
   	display: none;
   }
   #fundo
   {
   	display: none;
   }

   #lista{
	background-color: black;
	margin-bottom: 4%;
	opacity: 0.8;
	min-width: 200px;
	font-family: 'BenchNine', sans-serif;
	font-size: 16px;
	color: white;
	font-weight: bolder;
}

	table, th, td, .camisas
	{
		display: none;
	}

@media print 
{


	h1, #h1dif{
		font-size: 16px;
		font-family: Arial;
		color: black;
		text-shadow: transparent;
	}
   .cf
   {
   	display: none;
   }
   #fundo
   {
   	display: none;
   }

   #lista{
   	display: none; 
}

	table, th, td, .camisas
	{
		display: none;
	}